.loginsignup {
  width: 100%;
  height: 130vh;
  background: linear-gradient(180deg, #e1f7e1, #e1ffea22 170%);
  padding-top: 100px;
}

.loginsignup span{
  cursor:pointer;
}

.loginsignup-container {
  width: 580px;
  height: 820px;
  background: white;
  margin: auto;
  padding: 40px 60px;
  border-radius: 10%;
}

.loginsignup-container h1 {
  margin: 20px 0px;
  font-size: 30px;
}

.loginsignup-feilds {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}

.loginsignup-feilds input {
  height: 70px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  border-radius: ;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}

.loginsignup-container button {
  width: 580px;
  height: 55px;
  color: white;
  background: #ff4141;
  margin-top: 10px;
  border-radius: 40px;
  border: none;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
}

.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .loginsignup {
    padding-top: 50px;
    margin-bottom: 10rem;
    padding-bottom: 15rem;
  }

  .loginsignup-container {
    width: auto;
    max-width: 500px;
    max-height: 600px;
  }

  .loginsignup-container h1 {
    margin: 10px 0px;
  }

  .loginsignup-feilds {
    gap: 10px;
    margin-top: 20px;
  }

  .loginsignup-feilds input {
    height: 65px;
    width: 93%;
  }

  .loginsignup-container button {
    width: 100%;
  }

  .loginsignup-login {
    font-size: 16px;
  }

  .loginsignup-agree {
    font-size: 14px;
    gap: 10px;
    padding-top: 0px;
  }
}

@media (max-width: 800px) {
  .loginsignup {
    padding-bottom: 12rem;
  }

  .loginsignup-container {
    padding: 20px 30px;
    padding-bottom: 0px;
    border-radius: 10%;
  }

  .loginsignup-container h1 {
    font-size: 24px;
  }

  .loginsignup-feilds {
    margin-top: 20px;
  }

  .loginsignup-feilds input {
    height: 50px;
  }

  .loginsignup-container button {
    height: 50px;
    font-size: 1rem;
  }
}
